*{
    margin: 0px;
}
body{
    background-color: #21B1FF;
}
header{
    background-color: #FFD800;
    text-align: center;
}
h1{
    color: #FF218C;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: #21B1FF;
}
a:hover{
    color: #FFD800;
}
.navbar{
    background-color: #FF218C;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #21B1FF;
}