*{
    margin: 0px;
}
body{
    background-color: #d8d8d8;
}
header{
    background-color: #b8b8b8;
    text-align: center;
    position: fixed;
    width: 100%;
}
h1{
    color: #3a3a3a;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: #b8b8b8;
}
a:hover{
    color: #4d2eff;
}
.navbar{
    background-color: #3a3a3a;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b8b8b8;
}